<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">Create Event</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--/*--><!--@thymesVar id="signupForm" type="com.packtpub.springsecurity.web.model.SignupForm"--><!--*/-->
    <form action="#" cssClass="form-horizontal" method="post" th:action="@{/signup/new}" th:object="${signupForm}">
        <errors cssClass="alert alert-error" element="div" path="*"/>
        <fieldset>
            <legend>User Information</legend>

            <div class="control-group">
                <label class="control-label" for="firstName">First Name</label>
                <div class="controls">
                    <input class="input-xlarge" id="firstName" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastName">Last Name</label>
                <div class="controls">
                    <input class="input-xlarge" id="lastName" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email (Username)</label>
                <div class="controls">
                    <input class="input-xlarge" id="email" th:field="*{email}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input class="input-xlarge" id="password" th:field="*{password}" type="password"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn" id="submit" type="submit" value="Create Account"/>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
