<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">myCalendar</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a id="navWelcomeLink" th:href="@{/}">Welcome</a></li>
                        <li><a id="navEventsLink" th:href="@{/events/}">All Events</a></li>
                        <li><a id="navMyEventsLink" th:href="@{/events/my}">My Events</a></li>
                        <li><a id="navCreateEventLink" th:href="@{/events/form}">Create Event</a></li>
                        <li><a id="navH2Link" target="_blank" th:href="@{/admin/h2}">H2</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right" sec:authorize="isAuthenticated()">
                        <li><a id="navLogoutLink" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="alert alert-success" th:if="${param.message != null}">
        <span th:text="${message}"></span>
    </div>
</div>


</body>
</html>
