<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">myCalendar - Please Login</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <form class="form-horizontal" method="POST" th:action="@{/login}">

        <div class="alert alert-danger" th:if="${param.error != null}">
            <strong>Failed to login.</strong>

            <span th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
                <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid credentials</span>
            </span>
        </div>
        <div class="alert alert-success" th:if="${param.logout != null}">
            You have been logged out.
        </div>

        <label for="username">Username</label>
        <input autofocus="autofocus" id="username" name="username" type="text"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <label for="remember-me">Remember Me?</label>
        <input id="remember-me" name="obscure-remember-me" th:checked="true" type="checkbox"/>
        <div class="control-group">
            <div class="controls">
                <input id="submit" name="submit" type="submit" value="Login"/>
            </div>
        </div>
    </form>

    <br/>
    <h3>Social Login</h3>

    <form class="form-horizontal" method="POST" th:action="@{/signin/twitter}">
        <input name="scope" type="hidden" value="public_profile"/>
        <div class="form-actions">
            <input class="btn" id="twitter-submit" type="submit" value="Login using Twitter"/>
        </div>
    </form>
    <br/>
    <form class="form-horizontal" method="POST" th:action="@{/signin/facebook}">
        <input name="scope" type="hidden" value="public_profile"/>
        <div class="form-actions">
            <input class="btn" id="facebook-submit" type="submit" value="Login using Facebook"/>
        </div>
    </form>
    <br/>
    <form class="form-horizontal" method="POST" th:action="@{/signin/linkedin}">
        <input name="scope" type="hidden" value="r_basicprofile,r_emailaddress"/>
        <div class="form-actions">
            <input class="btn" id="linkedin-submit" type="submit" value="Login using Linkedin"/>
        </div>
    </form>
    <br/>
    <form class="form-horizontal" method="POST" th:action="@{/signin/google}">
        <input name="scope" type="hidden" value="profile"/>
        <div class="form-actions">
            <input class="btn" id="google-submit" type="submit" value="Login using Google"/>

        </div>
    </form>
    <br/>
    <form class="form-horizontal" method="POST" th:action="@{/signin/github}">
        <input name="scope" type="hidden" value="public_profile"/>
        <div class="form-actions">
            <input class="btn" id="github-submit" type="submit" value="Login using Github"/>
        </div>
    </form>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
